<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Spring Boot
	</a>
	<div class="dropdown-menu bg-danger" aria-labelledby="navbarDropdown">
		<a class="dropdown-item text-light" href="/springboot/Fundamentals/">Fundamentals</a>
		<a class="dropdown-item text-light" href="/springboot/Basics/">Spring Boot Basics</a>
		<a class="dropdown-item text-light" href="/springboot/Annotations/">Annotations</a>
		<a class="dropdown-item text-light" href="/springboot/Messaging/">Messaging</a>
		<a class="dropdown-item text-light" href="/springboot/JPA/">JPA</a>
		<a class="dropdown-item text-light" href="/springboot/SpringData/">Spring Data</a>
		<a class="dropdown-item text-light" href="/springboot/GraphQL/">GraphQL</a>
		<a class="dropdown-item text-light" href="/springboot/Microservices/">Microservices</a>
		<a class="dropdown-item text-light" href="/springboot/SpringSecurity">Spring Security</a>
		<a class="dropdown-item text-light" href="/springboot/ConsumingREST">Consuming REST</a>
		<a class="dropdown-item text-light" href="/springboot/ConsumingSOAP">Consuming SOAP</a>
		<a class="dropdown-item text-light" href="#">Documentation</a>
		<a class="dropdown-item text-light" href="#">Testing</a>
	</div>
</li>