body{
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #F4F3F3;
}

.highlight{
  padding: 2px;
  border-radius: 2px;
}

#navbar a{
  color: white;
}

#navbar{
  background-color: #8380B6;
}

#navbar a:hover{
  background-color: #BA324F;
  color: #FFFFFF;
}

#navbar .activepage{
  background-color: #DB5461;
  color: #FFFFFF;
}

h2{
  
  color: #846075;
  padding: 2px;
  border-top: 2px solid #846075;
  border-bottom: 2px solid #846075;
}

h4{
  color: #ED474A;
  border-bottom: 2px solid #ED474A;
}

strong{
	color: #0D00A4;
}

img{
  height: 400px;
}

blockquote {
  background: #7A9E7E;
  border-left: 10px solid #31493C;
  color: white;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

//back to-top button

#button {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #3590F3;
}
#button:hover {
  cursor: pointer;
  background-color: #DADFF7;
}
#button:active {
  background-color: #9C528B;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

strong em{
  font-weight: normal;
  color: #CE2D4F;
}